<div class="row justify-content-center">
  <div class="post" style="max-width: 674px;">
    <p id="date">Jun 25, 2020</p>
    <h4>I am a title</h4>
    <img src="../../../assets/images/placeholder.jpg" alt="">
    <p id="text-body">
      Today is a little gloomy but I think the weather actually feels pretty nice. At least not steaming hot outside.
      But
      I'm not planning on going out tonight as I'm really in the mood for finishing up my coding projects. Really need
      to check those ...
    </p>
    <a routerLink="/post/id">Read more</a>
  </div>
</div>
<div class="row justify-content-center">
  <div class="post" style="max-width: 674px;">
    <p id="date">Jun 25, 2020</p>
    <h4>I am a title</h4>
    <img src="../../../assets/images/placeholder.jpg" alt="">
    <p id="text-body">
      Today is a little gloomy but I think the weather actually feels pretty nice. At least not steaming hot outside.
      But
      I'm not planning on going out tonight as I'm really in the mood for finishing up my coding projects. Really need
      to check those ...
    </p>
    <a  routerLink="/post/id">Read more</a>
  </div>
</div>
<div style="height: 4.2rem"></div>
