<nav class="navbar navbar-expand">
  <a class="navbar-brand mx-auto" href="#">
    <img src="../../../assets/images/brand.svg" style="max-width: 190px;" />
  </a>
</nav>
<nav class="navbar navbar-expand">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">
          <img src="../../../assets/images/new-post.svg" style="max-width: 38px;" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <img src="../../../assets/images/homepage.svg" style="max-width: 38px;" />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">
        <img src="../../../assets/images/login.svg" style="max-width: 38px;" />
      </a>
    </li>
  </ul>
</nav>
