.post {
  margin: 2.8rem 1.8rem 0rem 1.8rem;
  padding: 0.8rem 2.5rem 2rem 2.5rem;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 674px;
  max-width: 100%;
}

#date {
  font-size: 75%;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#author {
  font-size: 70%;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  text-transform: none;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#text-body {
  max-height: 7.75rem;
  overflow: hidden;
  margin: 1.5rem 0rem 0rem 0rem;
  white-space: pre-wrap;
}

#dots {
  margin-bottom: 1.375rem;
}

#read-more {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}
