#view-container {
  max-width: 509px;
}

form {
  padding-bottom: 4.2rem;
}

.form-control {
  width: 509px;
  height: auto;
}

.btn {
  width: 360px;
}

a {
  text-decoration: none;
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  .form-control {
    width: 420px;
    font-size: 90%;
  }

  .btn {
    width: 340px;
  }
}

@media screen and (max-width: 480px) {
  .form-control {
    width: 380px;
    font-size: 80%;
  }

  .btn {
    width: 320px;
  }
}

@media screen and (max-width: 420px) {
  .form-control {
    width: 330px;
    font-size: 80%;
  }

  .btn {
    width: 280px;
  }
}

@media screen and (max-width: 385px) {
  .form-control {
    width: 280px;
    font-size: 76%;
  }

  .btn {
    width: 230px;
  }
}
