<div id="footer">
  <h5 class="text-center">Language</h5>
  <nav>
    <ul class="navbar-nav mx-auto navbar-expand justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../../assets/images/en.svg" style="max-width: 26px;" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../../assets/images/zh.svg" style="max-width: 26px;" />
        </a>
      </li>
    </ul>
  </nav>

  <p class="text-center">
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>,
    <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a>,
    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> and
    <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>
    from
    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    <br />
    <span>Photo by <a
      href="https://unsplash.com/@thisisjeremylee?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jeremy
      Lee</a> on <a
      href="/s/photos/taipei?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
  </p>
</div>
