<div id="footer">
  <h5 class="text-center">{{"common.language" | translate}}</h5>
  <nav>
    <ul class="navbar-nav mx-auto navbar-expand justify-content-center">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="setLanguage('en')">
          <img src="../../../assets/images/en.svg" style="max-width: 26px;" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="setLanguage('zh')">
          <img src="../../../assets/images/zh.svg" style="max-width: 26px;" />
        </a>
      </li>
    </ul>
  </nav>

  <p class="text-center">
    Icons made by
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>,
    <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> and 
    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
    from
    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </p>
</div>
