<div class="row justify-content-center">
  <div class="post" style="max-width: 674px;">
    <p id="date">Jun 25, 2020</p>
    <h4>I am a title</h4>
    <img id="cover" src="../../../assets/images/placeholder.jpg" alt="">
    <p id="text-body">
      Today is a little gloomy but I think the weather actually feels pretty nice. At least not steaming hot outside.
      But I'm not planning on going out tonight as I'm really in the mood for finishing up my coding projects. Really
      need
      to check those items off my list. And get a job finally.
      <br />
      <br />
      I wonder what my interview is gonna be like. Apart from the never experienced technical interview, I'm a little
      nervous about the part where I have to communicate and demonstrate that I am good at talking and working with
      other people. To be honest, I haven't done that in a while. And working from home has greatly reduce the chance
      for me to talk verbally to other people.
      <br />
      <br />
      But I guess I would find a way to practice and learn to better structure the things I talk about, well, esp in
      Mandarin. Just like how I learn everything else :)
    </p>
    <div class="row">
      <div class="col-10">
        <p id="update">Last Updated: Jun 26, 2020</p>
      </div>
      <div class="col-2">
        <a routerLink="/new">
          <img src="../../../assets/images/edit-post.svg">
        </a>
        <a href="#">
          <img src="../../../assets/images/delete-post.svg" style="margin-left: 1.5rem;">
        </a>
      </div>
    </div>
  </div>
</div>
